@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.body {
    font-family: 'Inter', sans-serif;
}